/* Complex number container styles */
.main-container__content-container__complex-number-container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.4rem 2rem;
    width: 100%;
}

/* Complex number header styles */
.main-container__content-container__complex-number-container__header {
    grid-column: 1/-1;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: var(--input--border-radius--size);
}

/* Operators container styles */
.main-container__content-container__operators-container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.4rem 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: var(--input--border-radius--size);
}

/* Input/Output type container styles */
.main-container__content-container__input-type-container,
.main-container__content-container__output-type-container {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 6rem auto;
    justify-content: left;
    align-items: center;
    gap: 0.4rem 2rem;
    width: 100%;
    padding-left: var(--input--border-radius--size);
}

/* Input/Output type container header styles */
.main-container__content-container__input-type-container__header,
.main-container__content-container__output-type-container__header {
    grid-column: 1/-1;
    display: flex;
    justify-content: left;
    align-items: center;
}

/* Sign out button styles */
.icon-button--sign-out {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
}

/* Overwriting styles */
.main-container .main-container__content-container{
    gap: 2rem 1rem;
}